@model Microservices.UI.Models.SignInInput

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Üye Giriş</h5>
                <form asp-controller="Auth" asp-action="SignIn" method="Post"> 
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" asp-for="Email" id="authEmail" class="form-control" />
                        <label class="form-label" asp-for="Email">Email address</label>
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" asp-for="Password" id="password" class="form-control" />
                        <label class="form-label" asp-for="Password">Password</label>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" asp-for="IsRemember" type="checkbox" value="" id="isRemember" checked />
                                <label class="form-check-label" asp-for="IsRemember"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="#!">Register</a></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

