@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserViewModel
@{
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kullanıcı Bilgileri</h5>
                    <table class="table table-stripped">
                        <tr>
                            <td>Kullanıcı Adı</td>
                            <td>@Model.UserName</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td>Şehir</td>
                            <td>@Model.City</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-controller="course" asp-action="Index"> Kurslarım</a>
        </div>
    </div>

}
