
@{
    ViewData["Title"] = "SuccesfulCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <p>Sipariş Başarıyla Tamalandı</p>
    <p>Sipariş No: @ViewBag.orderId</p>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Anasayfa</a>
